* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
}


/* The hero image */
.hero-image {
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Tło.jpg");

    /* Set a specific height */
    height: 110%;
}

#EnglandPIC {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("England.jpg");

    /* Set a specific height */
    height: 70vh;
}

#PolandPIC {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Poland.jpg");

    /* Set a specific height */
    height: 70vh;
}

#SpainPIC {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Spain.jpg");

    /* Set a specific height */
    height: 70vh;
}

#NetherlandsPIC {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Netherlands.jpg");

    /* Set a specific height */
    height: 70vh;
}

#ArgentinaPIC {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Argentina.jpg");

    /* Set a specific height */
    height: 70vh;
}

#BrazilPIC {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Brazil.jpg");

    /* Set a specific height */
    height: 70vh;
}

.Main {
    width: 100%;
    height: 95%;
}

.England {
    width: 100%;
    height: 100%;
    display: none;
}

.Poland {
    width: 100%;
    height: 100%;
    display: none;
}

.Spain {
    width: 100%;
    height: 100%;
    display: none;
}

.Netherlands {
    width: 100%;
    height: 100%;
    display: none;
}

.Argentina {
    width: 100%;
    height: 100%;
    display: none;
}

.Brazil {
    width: 100%;
    height: 100%;
    display: none;
}




/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 10rem;
}

.hero-text p {
    font-size: 4rem;
}

.container {
    height: auto;
    width: 30vw;
    padding: 70px;
    border: solid 5px white;
    border-radius: 50%;
    box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Boisko.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container h1{
    font-size: 5vh;
}
.container p{
    font-size: 2vh;
}


.TESTY {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    gap: 35px;
    text-align: center;
}



#header {
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.menu {
    width: 86%;
    margin: 0 auto;
}

#header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {}

.main-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.main-nav ul li {
    float: left;
    margin-left: 35px;
    font-size: 18px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.main-nav li button {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 1rem;
    display: block;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.main-nav li button:hover {
    background-color: #555;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    color: white;
}

.menu .icon {
    display: none;
}

@media (max-width: 1455px) {
    
    .menu a.icon {
        display: block;
        color: white;
        font-size: 25px;
    }

    .main-nav {
        display: none;
        width: 100%;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav ul {
        flex-direction: column;
        width: 100%;
        display: flex;
    }

    .main-nav nav {
        width: 100%;
    }

    .main-nav li {
        text-align: center;
    }

    .main-nav li a {
        padding: .5rem 1rem;
    }

    .main-nav.active {
        display: flex;
    }

}

@media screen and (max-width: 1100px) {
    .container{
        width: 40vw;
    }
}

@media screen and (max-width: 920px) {
    .container{
        width: 70vw;
    }
}

@media screen and (max-width: 800px) {
    .container{
        width: 60vw;
    }

}

@media screen and (max-width: 640px) {
    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text p {
        font-size: 2rem;
    }

    .container{
        width: 70vw;
    }

}

@media screen and (max-width: 480px) {
    .brand-title {
        font-size: 1.1rem;
    }

    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text p {
        font-size: 2rem;
    }


    
}